.custom-border{
    border: 2px dashed #3347B0; /* Couleur et style de la bordure */
    padding: 15px; /* Espace intérieur */
    text-align: center; 
    border-radius: 10px;
    color: #3347B0;
    cursor: pointer;
}
.custom-border h6{
    color: #3347B0;
}
.custom-border:hover h6{
    color: #fff;
}
.custom-border:hover{
    border: 2px solid #3347B0;
    background-color: #3347B0;
   
}
.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link i .fi{
    /* Ajoutez d'autres styles si nécessaire */
    width: 16px;
    height: 16px;
}



.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Remplace visibility: visible; */
    align-items: center;
    justify-content: center;
    opacity: 1; 
    z-index: 999;
}

.modal_wrapper .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.2s ease;
}

.modal_wrapper .success_wrap {
    position: relative; /* Changed from absolute to relative */
    background: var(--white);
    padding: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s ease;
    transform: translate(-50%, -50%); /* Removed from initial styles */
}

.modal_wrapper .success_wrap .modal_icon {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(112, 232, 112);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.modal_wrapper.active {
    visibility: visible;
}

.modal_wrapper.active .shadow {
    opacity: 1;
}

